flows1.json
[
    {
        "id": "5a53c324a98f8132",
        "type": "tab",
        "label": "Logowanie",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e2d0ca8d0db267e5",
        "type": "tab",
        "label": "Linia 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1a1d9c6aa039859",
        "type": "tab",
        "label": "Aktywne misje",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8a91e237742899a9",
        "type": "tab",
        "label": "różne",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "88284085e1c7a099",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "892536e3fdd833a3",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#fd853f",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "f96aa1701f4e70f5",
        "type": "ui-page",
        "name": "Login",
        "ui": "88284085e1c7a099",
        "path": "/Login",
        "icon": "home",
        "layout": "grid",
        "theme": "892536e3fdd833a3",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "102a4334d133d81c",
        "type": "ui-group",
        "name": "Group 1",
        "page": "f96aa1701f4e70f5",
        "width": 3,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "3a2bc8fa25a8b7f7",
        "type": "ui-page",
        "name": "Linia 1",
        "ui": "88284085e1c7a099",
        "path": "/Linia 1",
        "icon": "",
        "layout": "grid",
        "theme": "892536e3fdd833a3",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ui_group1",
        "type": "ui-group",
        "name": "Linia produkcyjna",
        "page": "3a2bc8fa25a8b7f7",
        "width": "12",
        "height": "6",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f07bfe3f0650d754",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "4c89bbeea45e4702",
        "type": "ui-page",
        "name": "Aktywne misje",
        "ui": "88284085e1c7a099",
        "path": "/misje",
        "icon": "home",
        "layout": "grid",
        "theme": "892536e3fdd833a3",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b8c145a2a40562ec",
        "type": "ui-group",
        "name": "Aktywne misje",
        "page": "4c89bbeea45e4702",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9d8bfd7e0d216779",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#15617e",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px",
            "density": "default"
        }
    },
    {
        "id": "0d92c765bfad87e6",
        "type": "ui-theme",
        "name": "Basic Blue Theme",
        "colors": {
            "surface": "#4d58ff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "ui_template_bg",
        "type": "ui-template",
        "z": "5a53c324a98f8132",
        "group": "",
        "page": "f96aa1701f4e70f5",
        "ui": "",
        "name": "Tło logowania",
        "order": 0,
        "width": "12",
        "height": "1",
        "format": ".v-main  {\n    background: url('/tlo.jpg') no-repeat center center fixed !important;\n    background-size: cover !important;\n  }\n\n ",
        "storeOutMessages": false,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 220,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "eb86020d726de19e",
        "type": "function",
        "z": "5a53c324a98f8132",
        "name": "Sprawdź dane logowania",
        "func": "const validUser = \"operator\";\nconst validPass = \"1234\";\nvar id = msg._client.socketId;\n\nif (msg.payload.username === validUser && msg.payload.password === validPass) {\n    flow.set(\"loggedIn\", true);\n    return {topic:\"login-ok\",id};\n} else {\n    flow.set(\"loggedIn\", false);\n    return {topic:\"login-fail\",id};\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 380,
        "wires": [
            [
                "ca17778e4396126c"
            ]
        ]
    },
    {
        "id": "ca17778e4396126c",
        "type": "switch",
        "z": "5a53c324a98f8132",
        "name": "Login OK?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "login-ok",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "login-fail",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 680,
        "y": 380,
        "wires": [
            [
                "50b664ee7fdd5f44"
            ],
            [
                "910321de57ab7753"
            ]
        ]
    },
    {
        "id": "23b91a01faf5a515",
        "type": "ui-control",
        "z": "5a53c324a98f8132",
        "name": "Przejdź do produkcji",
        "ui": "88284085e1c7a099",
        "events": "change",
        "x": 1340,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "b114842cd76fecf2",
        "type": "ui-template",
        "z": "5a53c324a98f8132",
        "group": "",
        "page": "f96aa1701f4e70f5",
        "ui": "",
        "name": "logowanie",
        "order": 0,
        "width": "12",
        "height": "1",
        "format": ".nrdb-ui-group .v-card {\nposition: relative;\n  left: 1300px;\n  top: 200px;\n}\n.bg-group-background {\n    background-color: rgba(255, 255, 255, 0.825) !important;\n}\n\n",
        "storeOutMessages": false,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 180,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4f685b44fcef3ebb",
        "type": "ui-form",
        "z": "5a53c324a98f8132",
        "name": "Formularz logowania",
        "group": "102a4334d133d81c",
        "label": "Zaloguj się",
        "order": 1,
        "width": 6,
        "height": 4,
        "options": [
            {
                "label": "Login",
                "key": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Hasło",
                "key": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Zaloguj",
        "cancel": "Anuluj",
        "resetOnSubmit": true,
        "topic": "login",
        "topicType": "str",
        "splitLayout": false,
        "className": "login",
        "dropdownOptions": [],
        "x": 180,
        "y": 380,
        "wires": [
            [
                "eb86020d726de19e"
            ]
        ]
    },
    {
        "id": "41a59ff6e2bb63a4",
        "type": "change",
        "z": "5a53c324a98f8132",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Linia 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 340,
        "wires": [
            [
                "23b91a01faf5a515"
            ]
        ]
    },
    {
        "id": "50b664ee7fdd5f44",
        "type": "ui-template",
        "z": "5a53c324a98f8132",
        "group": "",
        "page": "f96aa1701f4e70f5",
        "ui": "",
        "name": "PopUp",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <v-dialog class=\"modal\" id=\"dialog\" v-model=\"visible\" width=\"500\" persistent>\n        <v-card class=\"modal-box\">\n            <v-card-title>{{ title }}</v-card-title>\n            <v-card-text>\n                <p>\n                    {{ body }}\n                </p>\n                <br>\n                <v-progress-linear v-if=\"progress\" v-model=\"value\" :buffer-value=\"bufferValue\" color=\"orange\" :height=\"12\">\n                </v-progress-linear>\n            </v-card-text>\n            <v-card-actions>\n                <v-spacer></v-spacer>\n                <v-btn v-if=\"show_cancel\" text @click=\"visible = false\">{{ show_cancel_label }}</v-btn>\n                <v-btn v-if=\"show_OK\" text @click=\"visible = false\">{{ show_ok_label }}</v-btn>\n            </v-card-actions>\n        </v-card>\n    </v-dialog>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                loaded: false,\n                visible: false,\n                progress: false,\n                title: \"Modal\",\n                body: \"Body\",\n                show_cancel: false,\n                show_OK: false,\n                show_cancel_label: \"Cancel\",\n                show_ok_label: \"OK\",\n                bufferValue: 0,\n                actions: []\n            }\n        },\n        watch: {\n            msg: function(){\n                \n                this.visible = false;\n\n                if ( this.msg.topic === \"login-ok\" && this.msg.id === this.$socket.id) {\n\n                    this.visible = true;\n                    this.title = \"Zapraszam\";\n                    this.body = \"Login poprawny\";\n\n                    this.progress = true;\n                    \n                    this.show_cancel = false;\n                    this.show_cancel_label = \"Anuluj\";\n\n                    this.show_OK = false;\n                    this.show_ok_label = \"OK\";\n\n\n                    let interval = setInterval(() => {\n                    if (this.bufferValue == 110)\n                    {\n                    clearInterval(interval);\n                    this.send('TRUE');\n                    }\n                    this.bufferValue+=10;\n                    }, 100);\n                }\n\n            }    \n        },\n        computed: {\n        },\n        methods: {            \n        },\n        mounted() {\n            this.visible = false\n            this.loaded = true\n        },\n        unmounted() {\n            this.visible = false\n            this.loaded = false        }\n    }\n\n    \n</script>\n<style>\n\n\n\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 910,
        "y": 340,
        "wires": [
            [
                "41a59ff6e2bb63a4"
            ]
        ]
    },
    {
        "id": "910321de57ab7753",
        "type": "ui-template",
        "z": "5a53c324a98f8132",
        "group": "",
        "page": "f96aa1701f4e70f5",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <v-dialog class=\"modal\" id=\"dialog\" v-model=\"visible\" width=\"500\" persistent>\n        <v-card class=\"modal-box\">\n            <v-card-title>{{ title }}</v-card-title>\n            <v-card-text>\n                <p>\n                    {{ body }}\n                </p>\n                <br>\n                <v-progress-linear v-if=\"progress\" v-model=\"value\" :buffer-value=\"bufferValue\" color=\"orange\"\n                    :height=\"12\">\n                </v-progress-linear>\n            </v-card-text>\n            <v-card-actions>\n                <v-spacer></v-spacer>\n                <v-btn v-if=\"show_cancel\" text @click=\"visible = false\">{{ show_cancel_label }}</v-btn>\n                <v-btn v-if=\"show_OK\" text @click=\"visible = false\">{{ show_ok_label }}</v-btn>\n            </v-card-actions>\n        </v-card>\n    </v-dialog>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                loaded: false,\n                visible: false,\n                progress: false,\n                title: \"Modal\",\n                body: \"Body\",\n                show_cancel: false,\n                show_OK: false,\n                show_cancel_label: \"Cancel\",\n                show_ok_label: \"OK\",\n                bufferValue: 0,\n                actions: []\n            }\n        },\n        watch: {\n            msg: function(){\n                \n                this.visible = false;\n\n                if ( this.msg.topic === \"login-fail\"&& this.msg.id === this.$socket.id) {\n\n                    this.visible = true;\n                    this.title = \"Błąd logowania\";\n                    this.body = \"Niepoprawne dane logowania. Spróbuj ponownie\";\n\n                    this.progress = false;\n                    \n                    this.show_cancel = false;\n                    this.show_cancel_label = \"Anuluj\";\n\n                    this.show_OK = true;\n                    this.show_ok_label = \"OK\";\n\n                    this.actions = this.msg.payload.actions;\n\n                    this.send(this.bufferValue);\n\n                    let interval_bad = setInterval(() => {\n                    if (this.bufferValue == 100)\n                    {\n                    clearInterval(interval_bad);\n                    \n                    }\n                    this.bufferValue+=10;\n                    this.send(this.bufferValue);\n                    }, 100);\n                }\n\n            }    \n        },\n        computed: {\n        },\n        methods: {            \n        },\n        mounted() {\n            this.visible = false\n            this.loaded = true\n        },\n        unmounted() {\n            this.visible = false\n            this.loaded = false        }\n    }\n\n    \n</script>\n<style>\n\n\n\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 920,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "091eab5c3d7805bf",
        "type": "ui-template",
        "z": "e2d0ca8d0db267e5",
        "group": "",
        "page": "3a2bc8fa25a8b7f7",
        "ui": "",
        "name": "Tło logowania",
        "order": 0,
        "width": "12",
        "height": "1",
        "format": ".v-main  {\n    background: url('/background.jpg') no-repeat center center fixed !important;\n    background-size: cover !important;\n  }\n\n   .load1 .v-btn{\n  font-size: 40px;\n  color: rgb(160, 1, 33);\n  border-radius: 20px;\n  border: 3px solid #ffffff;\n  }",
        "storeOutMessages": false,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 160,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "8c6489bca4908d51",
        "type": "ui-template",
        "z": "e2d0ca8d0db267e5",
        "group": "",
        "page": "3a2bc8fa25a8b7f7",
        "ui": "",
        "name": "Modal Component",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <v-dialog class=\"modal\" id=\"dialog\" v-model=\"visible\" width=\"500\" persistent>\n        <v-card class=\"modal-box\">\n            <v-card-title>{{ title }}</v-card-title>\n            <v-card-text>\n                <p>\n                {{ body }}\n                </p>\n                <br>\n                <v-progress-linear v-if=\"progress\" bg-color=\"pink-lighten-3\" color=\"pink-lighten-1\" model-value=\"15\" :height=\"12\"></v-progress-linear>\n            </v-card-text>\n            <v-card-actions>\n                <v-spacer></v-spacer>\n                <v-btn v-if=\"show_cancel\" text @click=\"cancelDialog\">{{ show_cancel_label }}</v-btn>\n                <v-btn v-if=\"show_OK\" text @click=\"okDialog\">{{ show_ok_label }}</v-btn>\n                <v-btn v-for=\"(button, index) in actions\" :key=\"index\" text\n                    @click=\"visible = false; send({payload: button.id})\">{{ button.text }}</v-btn>\n            </v-card-actions>\n        </v-card>\n    </v-dialog>\n</template>\n\n<script>\n\n    export default {\n        data() {\n            return {\n                loaded: false,\n                visible: false,\n                progress: false,\n                title: \"Modal\",\n                body: \"Body\",\n                show_cancel: true,\n                show_OK: true,\n                show_cancel_label: \"Cancel\",\n                show_ok_label: \"OK\",\n                actions: []\n            }\n        },\n        watch: {\n            msg: function(){\n                \n                this.visible = false;\n\n                if (this.msg.payload== 'visible') {\n\n                    this.visible = true;\n                    this.title = \"Zlecenie\";\n                    this.body = \"Czy potwierdzasz zlecenie?\";\n\n                    this.progress = false;\n                    \n                    this.show_cancel = true;\n                    this.show_cancel_label = \"Anuluj\";\n\n                    this.show_OK = true;\n                    this.show_ok_label = \"OK\";\n\n                    this.actions = this.msg.payload.actions;\n\n                    if (!this.show_cancel) {\n                        this.send({payload: true});\n                    }\n                }\n            }    \n        },\n        computed: {\n        },\n        methods: {\n            okDialog:function(){\n            this.visible = false;\n            this.msg.payload = { action: \"OK\"};\n            this.send(this.msg);            \n            },\n            \n            cancelDialog:function(){\n            this.visible = false;\n            this.msg.payload = { action: \"Cancel\" };\n            this.send(this.msg);\n            }\n        },\n        mounted() {\n            this.visible = false\n            this.loaded = true\n        },\n        unmounted() {\n            this.visible = false\n            this.loaded = false        }\n    }\n</script>\n<style>\n\n\n\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 450,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0f516c4658e1022b",
        "type": "ui-template",
        "z": "e2d0ca8d0db267e5",
        "group": "",
        "page": "3a2bc8fa25a8b7f7",
        "ui": "",
        "name": "Przyciski",
        "order": 0,
        "width": "12",
        "height": "1",
        "format": ".load1 .v-btn{\n  font-size: 40px;\n  color: rgb(0, 0, 0);\n  border-radius: 20px;\n  border: 3px solid #ffffff;\n  background-color: #85858589 ;\n  }",
        "storeOutMessages": false,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 140,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5c00b8941c0e6d0f",
        "type": "ui-button",
        "z": "e2d0ca8d0db267e5",
        "group": "ui_group1",
        "name": "",
        "label": "Slot Lewy",
        "order": 1,
        "width": "4",
        "height": "4",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "load1",
        "icon": "",
        "iconPosition": "left",
        "payload": "visible",
        "payloadType": "str",
        "topic": "Lewy",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "8c6489bca4908d51"
            ]
        ]
    },
    {
        "id": "50641add88491cdb",
        "type": "ui-button",
        "z": "e2d0ca8d0db267e5",
        "group": "ui_group1",
        "name": "",
        "label": "Slot Prawy",
        "order": 3,
        "width": "4",
        "height": "4",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "load1",
        "icon": "",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "prawy",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "895fa377c8810dc4",
        "type": "ui-button",
        "z": "e2d0ca8d0db267e5",
        "group": "ui_group1",
        "name": "",
        "label": "Slot Środkowy",
        "order": 2,
        "width": "4",
        "height": "4",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "load1",
        "icon": "",
        "iconPosition": "left",
        "payload": "visible",
        "payloadType": "str",
        "topic": "środkowy",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "186fe8ecc97a646f"
            ]
        ]
    },
    {
        "id": "186fe8ecc97a646f",
        "type": "ui-template",
        "z": "e2d0ca8d0db267e5",
        "group": "",
        "page": "3a2bc8fa25a8b7f7",
        "ui": "",
        "name": "Modal Component",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <v-dialog class=\"modal\" id=\"dialog\" v-model=\"visible\" width=\"500\" persistent>\n        <v-card class=\"modal-box\">\n            <v-card-title>{{ title }}</v-card-title>\n            \n            <v-card-text>\n                <div class=\"d-flex py-2 justify-space-between\"></div>\n                <v-radio-group v-model=\"textvalue\">\n                    <v-radio v-if=\"radio\" label=\"Magazyn A\" value=\"1\"></v-radio>\n                    <v-radio v-if=\"radio\" label=\"Magazyn B\" value=\"2\"></v-radio>\n                </v-radio-group>\n                <v-switch v-model=\"value\" color=\"primary\" label=\"Priorytet\" false-value=\"0\" true-value=\"1\"></v-switch>\n            </v-card-text>\n\n            <v-card-actions>\n                <v-spacer></v-spacer>\n                <v-btn v-if=\"show_cancel\" text @click=\"cancelDialog\">{{ show_cancel_label }}</v-btn>\n                <v-btn v-if=\"show_OK\" text @click=\"okDialog\">{{ show_ok_label }}</v-btn>\n                <v-btn v-for=\"(button, index) in actions\" :key=\"index\" text\n                    @click=\"visible = false; send({payload: button.id})\">{{ button.text }}</v-btn>\n            </v-card-actions>\n        </v-card>\n    </v-dialog>\n</template>\n\n<script>\n\n    export default {\n        data() {\n            return {\n                loaded: false,\n                visible: false,\n                progress: false,\n                radio: false,\n                title: \"Modal\",\n                body: \"Body\",\n                show_cancel: true,\n                show_OK: true,\n                show_cancel_label: \"Cancel\",\n                show_ok_label: \"OK\",\n                actions: [],\n                textvalue:0\n            }\n        },\n        watch: {\n            msg: function(){\n                \n                this.visible = false;\n\n                if (this.msg.payload=== \"visible\") {\n\n                    this.visible = true;\n                    this.title = \"Zlecenie\";\n                    this.body = \"Czy potwierdzasz zlecenie?\";\n\n                    this.progress = false;\n                    \n                    this.radio = true;\n                    \n                    this.show_cancel = true;\n                    this.show_cancel_label = \"Anuluj\";\n\n                    this.show_OK = true;\n                    this.show_ok_label = \"OK\";\n\n                    this.actions = this.msg.payload.actions;\n\n                    if (!this.show_cancel) {\n                        this.send({payload: true});\n                    }\n                }\n            }    \n        },\n        computed: {\n        },\n        methods: {\n            okDialog:function(){\n            if(!!this.textvalue)\n            {\n                this.visible = false;\n                this.msg.payload = { action: \"OK\", dst: this.textvalue, prior:this.value};\n                this.send(this.msg);\n            }\n            \n            },\n            cancelDialog:function(){\n                this.visible = false;\n                this.msg.payload = { action: \"Cancel\" };\n                this.send(this.msg);\n            },\n        },\n        mounted() {\n            this.visible = false\n            this.loaded = true\n        },\n        unmounted() {\n            this.visible = false\n            this.loaded = false        }\n    }\n</script>\n<style>\n\n\n\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 450,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f2b8b79f2524a146",
        "type": "ui-template",
        "z": "8a91e237742899a9",
        "d": true,
        "group": "",
        "page": "42be05136fc00647",
        "ui": "",
        "name": "Alert",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-alert\n    :text = \"msg.payload\"\n    title=\"Błąd AGV\"\n    type=\"error\"\n    variant=\"elevated\"\n    closable\n    v-model = \"show\"\n  >\n  </v-alert>\n</template>\n<script>\n    export default {\n        data() {\n            return {\n                show: false\n            }\n        },\n        watch: {\n            msg: function(){\n              this.show = true;\n            }\n        },\n        computed: {\n          text:function(){\n            return this.dialogData?.text ?? \"\"\n          }\n        },\n        methods: {\n        },\n        mounted() {\n          this.mounted = false\n        },\n        unmounted() {     }\n    }\n</script>\n<style>\n.v-alert {\n  position: fixed;\n  right: 0%;\n  top: 10%;\n  \n  margin: 0 auto;  // Without this the box extends the width of the page\n}\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 550,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "7264c61e244eb47a",
        "type": "function",
        "z": "8a91e237742899a9",
        "name": "Alert config",
        "func": "msg.payload = \"Zalogowano\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 80,
        "wires": [
            [
                "f2b8b79f2524a146"
            ]
        ]
    },
    {
        "id": "690c47589d19750d",
        "type": "function",
        "z": "8a91e237742899a9",
        "name": "Set properties",
        "func": "msg.image = '/load.png';\n\nmsg.background = \"background-color :\" + \"orange\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 180,
        "wires": [
            [
                "ac5527af7aca46a5"
            ]
        ]
    },
    {
        "id": "ac5527af7aca46a5",
        "type": "ui-template",
        "z": "8a91e237742899a9",
        "d": true,
        "group": "ui_group1",
        "page": "",
        "ui": "",
        "name": "button A1",
        "order": 4,
        "width": "5",
        "height": "3",
        "head": "",
        "format": "<template>\n    <v-btn :style = \"msg.background\" @click=\"send({payload: '1374', topic:'0' })\" stacked>A1\n        <img :src=\"msg.image\" align=\"middle\" style=\"\n                                width: auto;\n                                height:auto;\n                                max-height: 70%;\n                                max-width: 70%;\n                                display:block\">\n    </v-btn>\n</template>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "load1",
        "x": 600,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "cd9f9ccf4b456780",
        "type": "inject",
        "z": "8a91e237742899a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "690c47589d19750d"
            ]
        ]
    },
    {
        "id": "766e61cdd5bd5693",
        "type": "ui-template",
        "z": "8a91e237742899a9",
        "d": true,
        "group": "",
        "page": "42be05136fc00647",
        "ui": "",
        "name": "Data Entry dialog",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-dialog width=\"auto\" v-model=\"showDialog\">\n    <v-card color=\"white\" v-click-outside=\"{handler: onClickOutside}\">\n      \n      <v-toolbar color= '#C1CBD4'>\n        <v-card-title>\n          <span>Wybierz stację docelową</span>\n\n        </v-card-title>\n          \n      </v-toolbar>\n      <v-card-text>\n        <div class=\"d-flex py-2 justify-space-between\"></div>\n         <v-radio-group v-model=\"textvalue\">\n          <v-radio label=\"Kompletowanie\"  value=\"402\"></v-radio>\n          <v-radio label=\"Pakowanie\"      value=\"700\"></v-radio>\n        </v-radio-group>\n        <v-switch v-model=\"value\" color=\"primary\" label=\"Priorytet\" false-value=\"0\" true-value=\"1\"></v-switch>\n      </v-card-text>\n      \n      <v-card-actions class=\"justify-end\">\n        <v-btn  color= '#C1CBD4' variant=\"elevated\" size=\"large\" @click=\"cancelDialog\" v-html=\"cancelText\"></v-btn>\n        <v-btn  color= '#C1CBD4' variant=\"elevated\" size=\"large\" @click=\"okDialog\" v-html=\"okText\"></v-btn>\n      </v-card-actions>\n    </v-card>\n  </v-dialog>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n        dialogData:null,\n        textvalue: 0\n    }\n  },\n  watch: {\n      msg: function(){\n          // only show the dialog if msg.payload is an object and the socket id in the message\n          // matches our socket id (which means the popup was initiated from this session) or\n          // there is no _client property present which indicates it should be shown on all sessions.\n          if (this.msg.payload.okText == 'OK' && typeof this.msg.payload==='object' && (this.msg._client.socketId === this.$socket.id)) {                  \n              this.dialogData = this.msg.payload;\n              if (!this.dialogData.okText) {\n                this.dialogData.okText = \"OK\"\n              }\n              if (!this.dialogData.cancelText) {\n                this.dialogData.cancelText = \"Cancel\"\n              }\n              this.dialogData.show = true\n              this.textvalue = this.msg.payload?.textvalue ?? \"\"\n          }\n          // prevent redraw on deploy\n          this.msg.payload = null\n      }\n  },\n  methods:{\n    okDialog:function(){\n      if(!!this.textvalue)\n      {\n              this.dialogData.show = false;\n              this.msg.payload = { action: this.dialogData.okText, dst: this.textvalue, src: this.dialogData.content, prior: this.value};\n              this.send(this.msg);\n      }\n\n    },\n    cancelDialog:function(){\n      this.dialogData.show = false;\n      this.msg.payload = { action: this.dialogData.cancelText };\n      this.send(this.msg);\n    },\n  },\n  computed : {\n    title:function(){\n      return this.dialogData?.title ?? \"\"\n    },\n    okText:function(){\n      return this.dialogData?.okText ?? \"OK\"\n    },\n    cancelText:function(){\n      return this.dialogData?.cancelText ?? \"Cancel\"\n    },\n    showDialog: function (){\n      return this.dialogData?.show === true\n    },\n    textlabel: function (){\n      return this.dialogData?.textlabel ?? \"\"\n    }\n  },\n  unmounted () {\n    this.dialogData = null\n  }\n}\n</script>\n<style>\n  .v-label {\n    font-size: 30px;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 770,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ef69f9cb2095ca0b",
        "type": "ui-template",
        "z": "8a91e237742899a9",
        "d": true,
        "group": "",
        "page": "",
        "ui": "",
        "name": "Modal Component",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <v-dialog class=\"modal\" id=\"dialog\" v-model=\"visible\" width=\"500\" persistent>\n        <v-card class=\"modal-box\">\n            <v-card-title>{{ title }}</v-card-title>\n            \n            <v-card-text>\n                <div class=\"d-flex py-2 justify-space-between\"></div>\n                <v-radio-group v-model=\"textvalue\">\n                    <v-radio v-if=\"radio\" label=\"Magazyn A\" value=\"1\"></v-radio>\n                    <v-radio v-if=\"radio\" label=\"Magazyn B\" value=\"2\"></v-radio>\n                </v-radio-group>\n                <v-switch v-model=\"value\" color=\"primary\" label=\"Priorytet\" false-value=\"0\" true-value=\"1\"></v-switch>\n            </v-card-text>\n\n            <v-card-actions>\n                <v-spacer></v-spacer>\n                <v-btn v-if=\"show_cancel\" text @click=\"cancelDialog\">{{ show_cancel_label }}</v-btn>\n                <v-btn v-if=\"show_OK\" text @click=\"okDialog\">{{ show_ok_label }}</v-btn>\n                <v-btn v-for=\"(button, index) in actions\" :key=\"index\" text\n                    @click=\"visible = false; send({payload: button.id})\">{{ button.text }}</v-btn>\n            </v-card-actions>\n        </v-card>\n    </v-dialog>\n</template>\n\n<script>\n\n    export default {\n        data() {\n            return {\n                loaded: false,\n                visible: false,\n                progress: false,\n                radio: false,\n                title: \"Modal\",\n                body: \"Body\",\n                show_cancel: true,\n                show_OK: true,\n                show_cancel_label: \"Cancel\",\n                show_ok_label: \"OK\",\n                actions: [],\n                textvalue:0\n            }\n        },\n        watch: {\n            msg: function(){\n                \n                this.visible = false;\n\n                if (this.msg.payload) {\n\n                    this.visible = true;\n                    this.title = \"Zlecenie\";\n                    this.body = \"Czy potwierdzasz zlecenie?\";\n\n                    this.progress = false;\n                    \n                    this.radio = true;\n                    \n                    this.show_cancel = true;\n                    this.show_cancel_label = \"Anuluj\";\n\n                    this.show_OK = true;\n                    this.show_ok_label = \"OK\";\n\n                    this.actions = this.msg.payload.actions;\n\n                    if (!this.show_cancel) {\n                        this.send({payload: true});\n                    }\n                }\n            }    \n        },\n        computed: {\n        },\n        methods: {\n            okDialog:function(){\n            if(!!this.textvalue)\n            {\n                this.visible = false;\n                this.msg.payload = { action: \"OK\", dst: this.textvalue, prior:this.value};\n                this.send(this.msg);\n            }\n            \n            },\n            cancelDialog:function(){\n                this.visible = false;\n                this.msg.payload = { action: \"Cancel\" };\n                this.send(this.msg);\n            },\n        },\n        mounted() {\n            this.visible = false\n            this.loaded = true\n        },\n        unmounted() {\n            this.visible = false\n            this.loaded = false        }\n    }\n</script>\n<style>\n\n\n\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 770,
        "y": 240,
        "wires": [
            [
                "2c575d4ab8424073"
            ]
        ]
    },
    {
        "id": "408b6b3e937cd604",
        "type": "inject",
        "z": "8a91e237742899a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 570,
        "y": 240,
        "wires": [
            [
                "ef69f9cb2095ca0b"
            ]
        ]
    },
    {
        "id": "2c575d4ab8424073",
        "type": "debug",
        "z": "8a91e237742899a9",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 240,
        "wires": []
    }
]